body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
    color:dimgray;
}

header {
    background-color:lightsteelblue ;
    color:aliceblue;
    padding: 1rem;
    text-align: center;
}

main { 
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0 0 1rem;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}
form input, form button {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

form button:hover {
    background-color: #4500b0;
}

#book-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.book-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    min-height: 150px;
}

.book-item {
    margin-bottom: 1rem;
}

.book-item button {
    margin-top: 0.5rem;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.book-item button:hover {
    background-color: #4500b0;
}


[data-testid="bookFormTitleInput"] {
    border: 2px solid blue;
}

[data-testid="bookFormSubmitButton"] {
    background-color: #6200ea;
    color: white;
    padding: 0.5rem;
}

[data-testid="searchBookForm"] {
    background-color: #f4f4f9;
    padding: 1rem;
}
